<div class="fs-container">
    <div id="lc"></div>
</div>

<form onsubmit="">
    <input type="submit" data-action="save-as" value="Save As">
    <input type="submit" data-action="save" value="Save">
    <p></p>
    <input type="text" id="load-form">
    <input type="submit" data-action="load" value="load">
</form>