<link rel="stylesheet" href="/css/homepage.css">

<div id="hero">
  <a href="/draw">
    <h1> Drawer</h1> 
    <img src="/assets/lc-images/logo.png"> 
  </a>
</div> 

<div id="others">
  <p1>Or see what other people have made:</p1>
  </div>

  <div id="pictures">
    <div>
      <a href="/views/Image.handlebars"><img src="/assets/lc-images/superhero.jpeg" alt="superhero"></a>
      </div>
    <div>
      <img src="/assets/lc-images/beach.jpg" alt="beach">
    </div>
    <div>
      <img src="/assets/lc-images/house.jpg" alt="house">
      </div>
    <div>
      <img src="/assets/lc-images/study.jpeg" alt="study">
      </div>
    <div>
      <img src="/assets/lc-images/stickDrawing.png" alt="stickDrawing">
      </div>   
</div>