<link rel="stylesheet" href="/css/homepage.css">

<div id="hero">
  <a href="/draw">
    <h1> Drawer</h1> 
    <img src="/assets/lc-images/logo.png"> 
  </a>
</div> 

<div id="drawing-list">
  <ul>
    <li><img src="" alt=""></li>
    <li><img src="" alt=""></li>
    <li><img src="" alt=""></li>
    <li><img src="" alt=""></li>
    <li><img src="" alt=""></li>
  </ul>
</div>